body{
    background-color: #181825;
    color: aliceblue;
}

#new-book-dialog{
    border-radius: 10px;
}
input{
    border: solid blue 2px;
    border-radius: 4px;
}

.book-card {
    /* width: 300px; */
    flex : 1;
    min-width: 300px;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    
    /* flex-shrink: 1; */
    /* gap: 0.5px; */
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    
    /* background-color: rgb(83, 48, 116); */
}
p, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.book-card p {
    /* font-family: 'Times New Roman', Times, serif; */
    
    size: 10rem;
    margin: 6px;
}

.togBtn{
    margin-bottom: 20px;
    margin-top: 20px;
}

.deleBtn{
    margin-bottom: 20px;
    /* margin-top: 20px; */
}

#cards{
    display: flex;
    gap: 10px;
    /* flex-shrink: 0; */
    justify-content: center;
    flex-wrap: wrap;
}

#new-book-div{
    margin-top: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#new-book{
    padding: 10px 30px;
}